# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.md text
*.rs text
*.toml text
*.yml text
COPYING text
LICENSE-* text
*.spv binary
# LFS
examples/**/assets/large/**/*.obj filter=lfs diff=lfs merge=lfs -text
examples/**/assets/large/**/*.png filter=lfs diff=lfs merge=lfs -text
examples/**/assets/large/**/*.ogg filter=lfs diff=lfs merge=lfs -text
examples/**/assets/large**/*.dds filter=lfs diff=lfs merge=lfs -text
examples/**/assets/large/**/*.glb filter=lfs diff=lfs merge=lfs -text
examples/**/assets/large/**/*.bin filter=lfs diff=lfs merge=lfs -text
examples/**/assets/large/**/*.jpg filter=lfs diff=lfs merge=lfs -text
