# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.md text
*.rs text
*.toml text
*.yml text
COPYING text
LICENSE-* text

# Denote all files that are truly binary and should not be modified.
*.obj binary
*.custom binary
