# Set up the Rust toolchain.
language: rust
rust:
  - stable
  - beta
  - nightly

# Allow for occasional compiler breakage on nightly Rust.
matrix:
  allow_failures:
    - rust: nightly

# Build the Bors staging and trying branches, plus PRs to develop, master, and
# the latest release branch.
branches:
  only:
    - staging
    - trying
    - develop
    - master
    - /release-.*/

# Test on Linux - OSX builds take in excess of 5 hours to start as of 2017-09-19.
os:
  - linux
  - osx

# Install ALSA development libraries before compiling on Linux.
addons:
  apt:
    packages:
      - libasound2-dev

# Since this build doesn't require sudo, we can turn it off and improve build
# performance.
sudo: false

# Force third-party crates to persist from previous builds and update only when
# needed.
cache: cargo

# Allow binaries installed from Cargo.
before_script:
  - export PATH=$PATH:/home/travis/.cargo/bin

# Generate documentation, compile the engine, run tests.
script: |
  cargo run --release ci

# Push notifications to `amethyst/general` and `amethyst/engine` Gitter chats.
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/9735c01977c1df3de5cb
