[package]
name = "amethyst"
version = "0.5.1"
authors = ["Eyal Kalderon <ebkalderon@gmail.com>"]
description = "Data-oriented game engine written in Rust"
exclude = ["examples/*", "book/*"]
keywords = ["game", "engine", "sdk", "amethyst"]
categories = ["game-engines"]

documentation = "https://www.amethyst.rs/doc/master/amethyst"
homepage = "https://www.amethyst.rs/"
repository = "https://github.com/amethyst/amethyst"

readme = "README.md"
license = "MIT/Apache-2.0"

[badges]
appveyor = { repository = "amethyst/amethyst", branch = "develop" }
travis-ci = { repository = "amethyst/amethyst", branch = "develop" }

[features]
profiler = ["thread_profiler/thread_profiler"]

[dependencies]
amethyst_assets = { path = "amethyst_assets", version = "0.2.0" }
amethyst_audio = { path = "amethyst_audio", version = "0.1.0" }
amethyst_config = { path = "amethyst_config", version = "0.4.0" }
amethyst_core = { path = "amethyst_core", version = "0.1.0" }
amethyst_renderer = { path = "amethyst_renderer", version = "0.5" }
amethyst_input = { path = "amethyst_input", version = "0.1" }
amethyst_ui = { path = "amethyst_ui", version = "0.1" }
amethyst_utils = { path = "amethyst_utils", version = "0.1" }
derivative = "1.0"
rayon = "0.8"
shred = "0.5"
shrev = "0.6"
specs = "0.10"
winit = "0.7"

thread_profiler = { version = "0.1", optional = true }

[dev-dependencies]
amethyst_gltf = { path = "amethyst_gltf", version = "0.1" }
genmesh = "0.4"

[build-dependencies]
vergen = "0.1"

[[example]]
name = "hello_world"
path = "examples/00_hello_world/main.rs"

[[example]]
name = "window"
path = "examples/01_window/main.rs"

[[example]]
name = "sphere"
path = "examples/02_sphere/main.rs"

[[example]]
name = "renderable"
path = "examples/03_renderable/main.rs"

[[example]]
name = "pong"
path = "examples/04_pong/main.rs"

[[example]]
name = "assets"
path = "examples/05_assets/main.rs"

[[example]]
name = "material"
path = "examples/06_material/main.rs"

[[example]]
name = "separate_sphere"
path = "examples/07_separate_sphere/main.rs"

[[example]]
name = "gltf"
path = "examples/08_gltf/main.rs"

[[example]]
name = "ui"
path = "examples/09_ui/main.rs"

[workspace]
members = ["amethyst_gltf"]
