[package]
name = "amethyst"
version = "0.2.1"
authors = ["Eyal Kalderon <ebkalderon@gmail.com>"]
description = "Data-oriented game engine written in Rust"
keywords = ["game", "engine", "sdk", "amethyst"]

documentation = "http://ebkalderon.github.io/amethyst/doc/amethyst/"
homepage = "http://ebkalderon.github.io/amethyst/"
repository = "https://github.com/ebkalderon/amethyst"

readme = "README.md"
license = "MIT"

[dependencies.amethyst_engine]
path = "src/engine/"
version = "0.2.1"

[dependencies.amethyst_ecs]
path = "src/ecs/"
version = "0.1.0"
