[package]
name = "amethyst"
version = "0.4.1"
authors = ["Eyal Kalderon <ebkalderon@gmail.com>"]
description = "Data-oriented game engine written in Rust"
keywords = ["game", "engine", "sdk", "amethyst"]
categories = ["game-engines"]

documentation = "https://www.amethyst.rs/doc/master/amethyst"
homepage = "https://www.amethyst.rs/"
repository = "https://github.com/amethyst/amethyst"

readme = "README.md"
license = "MIT/Apache-2.0"

[badges]
appveyor = { repository = "amethyst/amethyst" }
travis-ci = { repository = "amethyst/amethyst" }

[features]
default = ["opengl"]
opengl = []
direct3d = []

[dependencies]
amethyst_config = { path = "src/config/" }
amethyst_renderer = { path = "src/renderer" }
cgmath = "0.11"
dds-rs = "0.4"
num_cpus = "1.2"
genmesh = "0.4"
gfx = "0.14"
gfx_device_gl = "0.13"
gfx_window_glutin = "0.12"
glutin = "0.7"
imagefmt = "4.0"
specs = "0.7"
wavefront_obj = "5.0"

[target.'cfg(windows)'.dependencies]
gfx_device_dx11 = "0.4"
gfx_window_dxgi = "0.5"

[[example]]
name = "hello_world"
path = "examples/00_hello_world/main.rs"

[[example]]
name = "window"
path = "examples/01_window/main.rs"

[[example]]
name = "sphere"
path = "examples/02_sphere/main.rs"

[[example]]
name = "renderable"
path = "examples/03_renderable/main.rs"

[[example]]
name = "pong"
path = "examples/04_pong/main.rs"

[[example]]
name = "assets"
path = "examples/05_assets/main.rs"

[workspace]
members = ["src/config", "src/renderer"]
