[package]
name = "amethyst"
version = "0.15.1"
authors = ["Eyal Kalderon <ebkalderon@gmail.com>", "Amethyst Foundation <contact@amethyst.rs>"]
edition = "2018"
description = "Data-oriented game engine written in Rust"
exclude = ["examples/*", "book/*"]
keywords = ["game", "engine", "sdk", "amethyst"]
categories = ["game-engines"]

documentation = "https://docs.amethyst.rs/stable/amethyst"
homepage = "https://amethyst.rs/"
repository = "https://github.com/amethyst/amethyst"

readme = "README.md"
license = "MIT/Apache-2.0"

[badges]
travis-ci = { repository = "amethyst/amethyst", branch = "master" }

[features]
default = ["animation", "audio", "locale", "network", "renderer"]

vulkan = ["amethyst_rendy/vulkan", "amethyst_rendy/vulkan-x11"]
metal = ["amethyst_rendy/metal"]
empty = ["amethyst_rendy/empty"]

tiles = [
    "amethyst_tiles"
]
animation = [
    "amethyst_animation"
]
audio = [
    "amethyst_audio"
]
gltf = [
    "amethyst_gltf",
    "amethyst_animation"
]
locale = [
    "amethyst_locale"
]
network = [
    "amethyst_network"
]

renderer = [
    "amethyst_rendy",
]

profiler = [
    "thread_profiler",
    "thread_profiler/thread_profiler",
    "amethyst_animation/profiler",
    "amethyst_assets/profiler",
    "amethyst_audio/profiler",
    "amethyst_config/profiler",
    "amethyst_core/profiler",
    "amethyst_controls/profiler",
    "amethyst_input/profiler",
    "amethyst_locale/profiler",
    "amethyst_rendy/profiler",
    "amethyst_ui/profiler",
    "amethyst_utils/profiler",
    "amethyst_tiles/profiler",
]
sdl_controller = [
    "amethyst_input/sdl_controller",
]
json = [
    "amethyst_assets/json"
]
saveload = [
    "amethyst_core/saveload"
]
server = [
    "locale",
    "network"
]
storage-event-control = [
    "amethyst_core/storage-event-control"
]
no-slow-safety-checks = ["amethyst_rendy/no-slow-safety-checks"]
shader-compiler = ["amethyst_rendy/shader-compiler"]
test-support = [
  "amethyst_rendy/test-support",
  "amethyst_window/test-support",
]
experimental-spirv-reflection = ["amethyst_rendy/experimental-spirv-reflection"]

[workspace]
members = [
  "amethyst_animation",
  "amethyst_assets",
  "amethyst_audio",
  "amethyst_config",
  "amethyst_core",
  "amethyst_error",
  "amethyst_controls",
  "amethyst_derive",
  "amethyst_gltf",
  "amethyst_network",
  "amethyst_locale",
  "amethyst_rendy",
  "amethyst_input",
  "amethyst_ui",
  "amethyst_utils",
  "amethyst_test",
  "amethyst_tiles",
  "amethyst_window",
]

[dependencies]
amethyst_animation = { path = "amethyst_animation", version = "0.10.1", optional = true }
amethyst_assets = { path = "amethyst_assets", version = "0.11.1" }
amethyst_audio = { path = "amethyst_audio", version = "0.10.1", optional = true }
amethyst_config = { path = "amethyst_config", version = "0.14.1" }
amethyst_core = { path = "amethyst_core", version = "0.10.1" }
amethyst_error = { path = "amethyst_error", version = "0.5.1" }
amethyst_controls = { path = "amethyst_controls", version = "0.9.1" }
amethyst_derive = { path = "amethyst_derive", version = "0.8.1" }
amethyst_gltf = { path = "amethyst_gltf", version = "0.10.1", optional = true }
amethyst_network = { path = "amethyst_network", version = "0.8.1", optional = true }
amethyst_locale = { path = "amethyst_locale", version = "0.9.1", optional = true }
amethyst_rendy = { path = "amethyst_rendy", version = "0.5.1", features = ["window"], optional = true }
amethyst_input = { path = "amethyst_input", version = "0.11.1" }
amethyst_ui = { path = "amethyst_ui", version = "0.10.1" }
amethyst_utils = { path = "amethyst_utils", version = "0.10.1" }
amethyst_window = { path = "amethyst_window", version = "0.5.1" }
amethyst_tiles = { path = "amethyst_tiles", version = "0.3.1", optional = true }
crossbeam-channel = "0.4.2"
derivative = "2.1.1"
fern = { version = "0.6.0", features = ["colored"] }
log = { version = "0.4.8", features = ["serde"] }
rayon = "1.3.0"
rustc_version_runtime = "0.1.5"
sentry = { version = "0.18.0", optional = true }
winit = { version = "0.19", features = ["serde", "icon_loading"] }
serde = { version = "1.0.104", features = ["derive"] }
palette = { version = "0.4", features = ["serde"] }
failure = "0.1.7"
thread_profiler = { version = "0.3.0", optional = true }
lazy_static = "1.4.0"
glsl-layout = "0.3.2"

[dev-dependencies]
derive-new = "0.5.8"
env_logger = "0.7.1"
genmesh = "0.6.2"
ron = "0.5.1"
specs-derive = "0.4.1"

[build-dependencies]
dirs = "2.0.2"
vergen = "3.1.0"

[[example]]
name = "hello_world"
path = "examples/hello_world/main.rs"

[[example]]
name = "window"
path = "examples/window/main.rs"

[[example]]
name = "sphere"
path = "examples/sphere/main.rs"

[[example]]
name = "renderable"
path = "examples/renderable/main.rs"

[[example]]
name = "asset_custom"
path = "examples/asset_custom/main.rs"

[[example]]
name = "asset_loading"
path = "examples/asset_loading/main.rs"

[[example]]
name = "material"
path = "examples/material/main.rs"

[[example]]
name = "gltf"
path = "examples/gltf/main.rs"
required-features = ["animation", "gltf"]

[[example]]
name = "ui"
path = "examples/ui/main.rs"
required-features = ["audio"]

[[example]]
name = "states_ui"
path = "examples/states_ui/main.rs"
required-features = ["audio"]

[[example]]
name = "custom_render_pass"
path = "examples/custom_render_pass/main.rs"

[[example]]
name = "custom_ui"
path = "examples/custom_ui/main.rs"
required-features = ["audio"]

[[example]]
name = "animation"
path = "examples/animation/main.rs"
required-features = ["animation"]

[[example]]
name = "fly_camera"
path = "examples/fly_camera/main.rs"

[[example]]
name = "sprite_animation"
path = "examples/sprite_animation/main.rs"
required-features = ["animation"]

[[example]]
name = "sprites_ordered"
path = "examples/sprites_ordered/main.rs"

[[example]]
name = "pong_tutorial_01"
path = "examples/pong_tutorial_01/main.rs"
required-features = ["audio"]

[[example]]
name = "pong_tutorial_02"
path = "examples/pong_tutorial_02/main.rs"
required-features = ["audio"]

[[example]]
name = "pong_tutorial_03"
path = "examples/pong_tutorial_03/main.rs"
required-features = ["audio"]

[[example]]
name = "pong_tutorial_04"
path = "examples/pong_tutorial_04/main.rs"
required-features = ["audio"]

[[example]]
name = "pong_tutorial_05"
path = "examples/pong_tutorial_05/main.rs"
required-features = ["audio"]

[[example]]
name = "pong_tutorial_06"
path = "examples/pong_tutorial_06/main.rs"
required-features = ["audio"]

[[example]]
name = "net_client"
path = "examples/net_client/main.rs"
required-features = ["network"]

[[example]]
name = "net_server"
path = "examples/net_server/main.rs"
required-features = ["network"]

[[example]]
name = "locale"
path = "examples/locale/main.rs"
required-features = ["locale"]

[[example]]
name = "custom_game_data"
path = "examples/custom_game_data/main.rs"

[[example]]
name = "arc_ball_camera"
path = "examples/arc_ball_camera/main.rs"

[[example]]
name = "prefab"
path = "examples/prefab/main.rs"

[[example]]
name = "prefab_adapter"
path = "examples/prefab_adapter/main.rs"

[[example]]
name = "prefab_basic"
path = "examples/prefab_basic/main.rs"

[[example]]
name = "prefab_multi"
path = "examples/prefab_multi/main.rs"

[[example]]
name = "prefab_custom"
path = "examples/prefab_custom/main.rs"

[[example]]
name = "debug_lines"
path = "examples/debug_lines/main.rs"

[[example]]
name = "debug_lines_ortho"
path = "examples/debug_lines_ortho/main.rs"

[[example]]
name = "state_dispatcher"
path = "examples/state_dispatcher/main.rs"

[[example]]
name = "spotlights"
path = "examples/spotlights/main.rs"

[[example]]
name = "sprite_camera_follow"
path = "examples/sprite_camera_follow/main.rs"

[[example]]
name = "auto_fov"
path = "examples/auto_fov/main.rs"

[[example]]
name = "events"
path = "examples/events/main.rs"

[[example]]
name = "rendy"
path = "examples/rendy/main.rs"
required-features = ["animation", "gltf"]

[[example]]
name = "tiles"
path = "examples/tiles/main.rs"
required-features = [ "tiles" ]

[package.metadata.docs.rs]
features = ["animation", "audio", "gltf", "tiles", "json", "locale", "network", "sdl_controller", "vulkan"]

