[package]
name = "amethyst"
version = "0.9.0"
authors = ["Eyal Kalderon <ebkalderon@gmail.com>"]
description = "Data-oriented game engine written in Rust"
exclude = ["examples/*", "book/*"]
keywords = ["game", "engine", "sdk", "amethyst"]
categories = ["game-engines"]

documentation = "https://www.amethyst.rs/doc/master/doc/amethyst"
homepage = "https://www.amethyst.rs/"
repository = "https://github.com/amethyst/amethyst"

readme = "README.md"
license = "MIT/Apache-2.0"

[badges]
appveyor = { repository = "amethyst/amethyst", branch = "master" }
travis-ci = { repository = "amethyst/amethyst", branch = "master" }

[features]
profiler = [
    "thread_profiler",
    "thread_profiler/thread_profiler",
    "amethyst_animation/profiler",
    "amethyst_assets/profiler",
    "amethyst_audio/profiler",
    "amethyst_config/profiler",
    "amethyst_core/profiler",
    "amethyst_controls/profiler",
    "amethyst_input/profiler",
    "amethyst_locale/profiler",
    "amethyst_renderer/profiler",
    "amethyst_ui/profiler",
    "amethyst_utils/profiler",
]
nightly = [
    "amethyst_animation/nightly",
    "amethyst_assets/nightly",
    "amethyst_audio/nightly",
    "amethyst_config/nightly",
    "amethyst_core/nightly",
    "amethyst_controls/nightly",
    "amethyst_network/nightly",
    "amethyst_renderer/nightly",
    "amethyst_input/nightly",
    "amethyst_ui/nightly",
    "amethyst_utils/nightly",
]
sdl_controller = [
    "amethyst_input/sdl_controller",
]
json = [
    "amethyst_assets/json"
]
saveload = [
    "amethyst_core/saveload"
]

[dependencies]
amethyst_animation = { path = "amethyst_animation", version = "0.4.0" }
amethyst_assets = { path = "amethyst_assets", version = "0.5.0" }
amethyst_audio = { path = "amethyst_audio", version = "0.4.0" }
amethyst_config = { path = "amethyst_config", version = "0.8.0" }
amethyst_core = { path = "amethyst_core", version = "0.4.0" }
amethyst_controls = { path = "amethyst_controls", version = "0.3.0" }
amethyst_derive = { path = "amethyst_derive", version = "0.2.0" }
amethyst_network = { path = "amethyst_network", version = "0.2.0" }
amethyst_locale = { path = "amethyst_locale", version = "0.3.0" }
amethyst_renderer = { path = "amethyst_renderer", version = "0.9.0" }
amethyst_input = { path = "amethyst_input", version = "0.5.0" }
amethyst_ui = { path = "amethyst_ui", version = "0.4.0" }
amethyst_utils = { path = "amethyst_utils", version = "0.4.0" }
crossbeam-channel = "0.3.1"
derivative = "1.0"
fern = { version = "0.5", features = ["colored"] }
log = { version = "0.4", features = ["serde"] }
rayon = "1.0.2"
rustc_version_runtime = "0.1"
winit = { version = "0.18", features = ["serde"] }
serde = "1.0"
serde_derive = "1.0"

thread_profiler = { version = "0.3", optional = true }

[dev-dependencies]
amethyst_gltf = { path = "amethyst_gltf", version = "0.4.0" }
env_logger = "0.5.13"
genmesh = "0.6"
ron = "0.4"

[build-dependencies]
vergen = "2.0"

[[example]]
name = "hello_world"
path = "examples/hello_world/main.rs"

[[example]]
name = "window"
path = "examples/window/main.rs"

[[example]]
name = "sphere"
path = "examples/sphere/main.rs"

[[example]]
name = "sphere_multisample"
path = "examples/sphere_multisample/main.rs"

[[example]]
name = "renderable"
path = "examples/renderable/main.rs"

[[example]]
name = "pong"
path = "examples/pong/main.rs"

[[example]]
name = "asset_loading"
path = "examples/asset_loading/main.rs"

[[example]]
name = "material"
path = "examples/material/main.rs"

[[example]]
name = "separate_sphere"
path = "examples/separate_sphere/main.rs"

[[example]]
name = "gltf"
path = "examples/gltf/main.rs"

[[example]]
name = "ui"
path = "examples/ui/main.rs"

[[example]]
name = "custom_ui"
path = "examples/custom_ui/main.rs"

[[example]]
name = "animation"
path = "examples/animation/main.rs"

[[example]]
name = "fly_camera"
path = "examples/fly_camera/main.rs"

[[example]]
name = "sprites_ordered"
path = "examples/sprites_ordered/main.rs"

[[example]]
name = "pong_tutorial_01"
path = "examples/pong_tutorial_01/main.rs"

[[example]]
name = "pong_tutorial_02"
path = "examples/pong_tutorial_02/main.rs"

[[example]]
name = "pong_tutorial_03"
path = "examples/pong_tutorial_03/main.rs"

[[example]]
name = "pong_tutorial_04"
path = "examples/pong_tutorial_04/main.rs"

[[example]]
name = "pong_tutorial_05"
path = "examples/pong_tutorial_05/main.rs"

[[example]]
name = "net_client"
path = "examples/net_client/main.rs"

[[example]]
name = "net_server"
path = "examples/net_server/main.rs"

[[example]]
name = "appendix_a"
path = "examples/appendix_a/main.rs"

[[example]]
name = "locale"
path = "examples/locale/main.rs"

[[example]]
name = "custom_game_data"
path = "examples/custom_game_data/main.rs"

[[example]]
name = "arc_ball_camera"
path = "examples/arc_ball_camera/main.rs"

[[example]]
name = "prefab"
path = "examples/prefab/main.rs"

[[example]]
name = "debug_lines"
path = "examples/debug_lines/main.rs"

[[example]]
name = "state_dispatcher"
path = "examples/state_dispatcher/main.rs"

[[example]]
name = "spotlights"
path = "examples/spotlights/main.rs"

[[example]]
name = "sprite_camera_follow"
path = "examples/sprite_camera_follow/main.rs"

[workspace]
members = ["amethyst_gltf", "tests/amethyst_test"]
