[package]
name = "amethyst"
version = "0.6.0"
authors = ["Eyal Kalderon <ebkalderon@gmail.com>"]
description = "Data-oriented game engine written in Rust"
exclude = ["examples/*", "book/*"]
keywords = ["game", "engine", "sdk", "amethyst"]
categories = ["game-engines"]

documentation = "https://www.amethyst.rs/doc/master/doc/amethyst"
homepage = "https://www.amethyst.rs/"
repository = "https://github.com/amethyst/amethyst"

readme = "README.md"
license = "MIT/Apache-2.0"

[badges]
appveyor = { repository = "amethyst/amethyst", branch = "develop" }
travis-ci = { repository = "amethyst/amethyst", branch = "develop" }

[features]
profiler = ["thread_profiler/thread_profiler"]

[dependencies]
amethyst_assets = { path = "amethyst_assets", version = "0.2.0" }
amethyst_audio = { path = "amethyst_audio", version = "0.1.0" }
amethyst_config = { path = "amethyst_config", version = "0.5.0" }
amethyst_core = { path = "amethyst_core", version = "0.1.0" }
amethyst_renderer = { path = "amethyst_renderer", version = "0.6" }
amethyst_input = { path = "amethyst_input", version = "0.2" }
amethyst_ui = { path = "amethyst_ui", version = "0.1" }
amethyst_utils = { path = "amethyst_utils", version = "0.1" }
derivative = "1.0"
fern = "0.5"
log = "0.4"
rayon = "0.8"
rustc_version_runtime = "0.1"
shred = "0.5"
shrev = "0.8"
specs = "0.10"
winit = "0.10"

thread_profiler = { version = "0.1", optional = true }

[dev-dependencies]
amethyst_gltf = { path = "amethyst_gltf", version = "0.1" }
genmesh = "0.4"
amethyst_animation = { path = "amethyst_animation", version = "0.1.0" }

[build-dependencies]
vergen = "0.1"

[[example]]
name = "hello_world"
path = "examples/hello_world/main.rs"

[[example]]
name = "window"
path = "examples/window/main.rs"

[[example]]
name = "sphere"
path = "examples/sphere/main.rs"

[[example]]
name = "renderable"
path = "examples/renderable/main.rs"

[[example]]
name = "pong"
path = "examples/pong/main.rs"

[[example]]
name = "asset_loading"
path = "examples/asset_loading/main.rs"

[[example]]
name = "material"
path = "examples/material/main.rs"

[[example]]
name = "separate_sphere"
path = "examples/separate_sphere/main.rs"

[[example]]
name = "gltf"
path = "examples/gltf/main.rs"

[[example]]
name = "ui"
path = "examples/ui/main.rs"

[[example]]
name = "animation"
path = "examples/animation/main.rs"

[[example]]
name = "pong_tutorial_01"
path = "examples/pong_tutorial_01/main.rs"

[[example]]
name = "pong_tutorial_02"
path = "examples/pong_tutorial_02/main.rs"

[[example]]
name = "pong_tutorial_03"
path = "examples/pong_tutorial_03/main.rs"

[workspace]
members = ["amethyst_animation", "amethyst_gltf"]
