[package]
name = "amethyst"
version = "0.4.3"
authors = ["Eyal Kalderon <ebkalderon@gmail.com>"]
description = "Data-oriented game engine written in Rust"
keywords = ["game", "engine", "sdk", "amethyst"]
categories = ["game-engines"]

documentation = "https://www.amethyst.rs/doc/master/amethyst"
homepage = "https://www.amethyst.rs/"
repository = "https://github.com/amethyst/amethyst"

readme = "README.md"
license = "MIT/Apache-2.0"

[badges]
appveyor = { repository = "amethyst/amethyst", branch = "develop" }
travis-ci = { repository = "amethyst/amethyst", branch = "develop" }

[features]
default = ["opengl"]
opengl = []
direct3d = []
profiler = ["thread_profiler/thread_profiler"]

[dependencies]
amethyst_config = { path = "amethyst_config", version = "0.3.0" }
amethyst_renderer = { path = "src/renderer", version = "0.4.3" }
cgmath = "0.12"
dds-rs = "0.4"
fnv = "1.0"
num_cpus = "1.2"
genmesh = "0.4"
gfx = "0.14"
gfx_device_gl = "0.13"
gfx_window_glutin = "0.14"
glutin = "0.7"
imagefmt = "4.0"
specs = "0.9.1"
rayon = "0.7"
ticketed_lock = "0.1"
wavefront_obj = "5.0"
smallvec = "0.4"

thread_profiler = { version = "0.1", optional = true }

[target.'cfg(windows)'.dependencies]
gfx_device_dx11 = "0.4"
gfx_window_dxgi = "0.5"

[[example]]
name = "hello_world"
path = "examples/00_hello_world/main.rs"

[[example]]
name = "window"
path = "examples/01_window/main.rs"

[[example]]
name = "sphere"
path = "examples/02_sphere/main.rs"

[[example]]
name = "renderable"
path = "examples/03_renderable/main.rs"

[[example]]
name = "pong"
path = "examples/04_pong/main.rs"

[[example]]
name = "assets"
path = "examples/05_assets/main.rs"

[workspace]
members = ["amethyst_assets", "amethyst_config", "src/renderer"]
