[package]
name = "amethyst_assets"
version = "0.6.0"
authors = ["torkleyy <torkleyy@gmail.com>"]
readme = "README.md"
edition = "2018"
description = """
Asynchronous asset management for games.
"""
exclude = ["examples/*"]
license = "MIT/Apache-2.0"
keywords = ["game", "asset", "resource", "management", "amethyst"]
categories = ["filesystem"]

documentation = "https://www.amethyst.rs/doc/latest/doc/amethyst/"
homepage = "https://www.amethyst.rs/"
repository = "https://github.com/amethyst/amethyst"

[badges]
appveyor = { repository = "amethyst/amethyst", branch = "master" }
travis-ci = { repository = "amethyst/amethyst" }

[dependencies]
amethyst_core = { path = "../amethyst_core", version = "0.5.0" }
crossbeam = "0.4.1"
derivative = "1.0"
error-chain = "0.12"
fnv = "1"
hibitset = { version = "0.5.1", features = ["parallel"] }
log = "0.4.6"
parking_lot = "0.6"
rayon = "1.0.2"
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", optional = true }
shred = { version = "0.7" }
shred-derive = { version = "0.5" }
ron = "0.4"
thread_profiler = { version = "0.3", optional = true }

[dev-dependencies]

[features]
profiler = [ "thread_profiler/thread_profiler" ]
nightly = [ "amethyst_core/nightly" ]
json = [ "serde_json" ]
