[package]
name = "amethyst_assets"
version = "0.1.0"
authors = ["torkleyy <torkleyy@gmail.com>"]
readme = "README.md"
description = """
Asynchronous asset management for games.
"""
exclude = ["examples/*"]
license = "MIT/Apache-2.0"
keywords = ["game", "asset", "resource", "management", "amethyst"]
categories = ["filesystem"]

documentation = "https://www.amethyst.rs/doc/master/amethyst"
homepage = "https://www.amethyst.rs/"
repository = "https://github.com/amethyst/amethyst"

[badges]
appveyor = { repository = "amethyst/amethyst", branch = "develop" }
travis-ci = { repository = "amethyst/amethyst" }

[dependencies]
derivative = "1.0"
fnv = "1"
futures = "0.1.14"
log = "0.3.8"
parking_lot = "0.4.4"
rayon = "0.7"
specs = { version = "0.9.5", features = ["common"] }
