[package]
name = "amethyst_assets"
version = "0.8.0"
authors = ["torkleyy <torkleyy@gmail.com>"]
readme = "README.md"
edition = "2018"
description = """
Asynchronous asset management for games.
"""
exclude = ["examples/*"]
license = "MIT/Apache-2.0"
keywords = ["game", "asset", "resource", "management", "amethyst"]
categories = ["filesystem"]

documentation = "https://docs-src.amethyst.rs/stable/amethyst_assets/"
homepage = "https://amethyst.rs/"
repository = "https://github.com/amethyst/amethyst"

[badges]
travis-ci = { repository = "amethyst/amethyst" }

[dependencies]
amethyst_core = { path = "../amethyst_core", version = "0.7.0" }
amethyst_derive = { path = "../amethyst_derive", version = "0.5.0"}
amethyst_error = { path = "../amethyst_error", version = "0.2.0" }
crossbeam-queue = "0.1.2"
derivative = "1.0"
derive-new = "0.5"
fnv = "1"
log = "0.4.6"
parking_lot = "0.6"
rayon = "1.1.0"
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", optional = true }
ron = "0.5"
thread_profiler = { version = "0.3", optional = true }
err-derive = "0.1"
objekt = "0.1.2"
erased-serde = "0.3.9"
inventory = "0.1.3"
lazy_static = "1.3"

[dev-dependencies]
serde_json = "1"

[features]
profiler = [ "thread_profiler/thread_profiler" ]
nightly = [ "amethyst_core/nightly" ]
json = [ "serde_json" ]
