/*!
    @import /amethyst_rendy/src/sprite/mod.rs#Sprites
    Sprites
*/

#![enable(implicit_some)]

// Used in the rendy example for sprite Tint
Grid((
    texture_width: 32,
    texture_height: 32,
    columns: 1,
    rows: 1,
))
