/*!
    @import /amethyst_input/src/bindings.rs#Bindings, StringBindings
    Bindings<StringBindings>
*/

(
    axes: {
        "left_paddle": Emulated(
            pos: Key(W),
            neg: Key(S),
        ),
        "right_paddle": Emulated(
            pos: Key(Up),
            neg: Key(Down),
        ),
    },
    actions: {

    },
)

