/*!
    @import /amethyst_input/src/bindings.rs#Bindings, StringBindings
    Bindings<StringBindings>
*/

(
    axes: {
        "left_paddle": Controller(
            controller_id: 0,
            axis: LeftY,
            invert: false,
            dead_zone: 0.2,
        ),
        "right_paddle": Controller(
            controller_id: 0,
            axis: RightY,
            invert: false,
            dead_zone: 0.2,
        ),
    },
    actions: {

    },
)

