#![enable(implicit_some)]
Container(
    transform: (
        id: "background",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 20.,
        height: 20.,
    ),

    children: [

        Image(
            transform: (
                id: "background",
                width: 1024.,
                height: 768.,
                tab_order: 1,
                anchor: Middle,
            ),
            image: Texture(File("texture/logo.png", ("IMAGE", ()))),
        ),
    ],
)
