#![enable(implicit_some)]
/*!
    @import /amethyst_assets/src/prefab/mod.rs#Prefab
    @import ../../prefab/main.rs#MyPrefabData
    Prefab<MyPrefabData>
*/

Prefab (
    entities: [
        (
            data: (
                graphics: (
                    mesh: Asset(File("mesh/cube.obj", ("OBJ", ()))),
                    material: (
                        albedo: Generate(Srgba(0.0, 0.0, 1.0, 1.0)),
                    ),
                ),
                transform: (
                    translation: (0.0, 0.0, 5.0),
                    scale: (2.0, 2.0, 2.0),
                ),
            ),
        ),
        (
            data: ( 
                transform: Transform (
                    translation: (5.0, -20.0, 15.0),
                ),
                light: (
                    light: Point((
                        intensity: 100.0,
                        color: (1.0, 1.0, 1.0),
                        radius: 1.0,
                    )),
                ),
            ),
        ),
        (
            data: (
                transform: Transform (
                    translation: (0.0, -20.0, 10.0),
                    rotation: (0.6153864, 0.0, 0.0, 0.7882256),
                ),
                camera: Perspective(
                    aspect: 1.0,
                    fovy: 1.0471975512,
                    znear: 0.1,
                    zfar: 2000.0,
                ),
            ),
        ),
    ],
)
