body {
  font-family: "Rubik", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

:root {
  --links: #8f4bff;
  --sidebar-active: #8f4bff;
}

h2 {
  font-size: 2.5em !important;
}

#menu-bar {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.589);
}

.sidebar {
  z-index: 300;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.589);
}

.content main {
  margin-top: 50px;
}

blockquote {
  border-radius: 8px;
  border: solid var(--fg);
}

.language-rust {
  border-radius: 8px;
  border: solid var(--fg);
}

.menu-title {
  color: var(--fg) !important;
}

.icon-button,
#print-button {
  color: var(--fg) !important;
}

.chapter li.chapter-item,
.content ul {
  line-height: 2.2em;
  margin-top: 0.6em;
}
.content p {
  line-height: 2em;
}

.chapter li a {
  width: 100%;
  transition: ease 0.3s;
  border-radius: 8px;
}
.chapter li a:hover {
  background-color: #904bff27;
  padding-left: 10px;
}

.header {
  transition: ease 0.3s;
  border-radius: 8px;
  padding-right: 20px;
}
.header:hover {
  background-color: #904bff27;
  padding-left: 10px;
}
.hljs {
  color: var(--fg) !important;
  border-radius: 8px;
  border: solid #904bff;
  background-color: var(--bg);
}
