(
    axes: {
        "left_paddle": Emulated(
            pos: Key(S),
            neg: Key(W),
        ),
        "right_paddle": Emulated(
            pos: Key(Down),
            neg: Key(Up),
        ),
    },
    actions: {

    },
)

