(
    axes: {
        "left_paddle": Controller(
            controller_id: 0,
            axis: LeftY,
            invert: true,
            dead_zone: 0.2,
        ),
        "right_paddle": Controller(
            controller_id: 0,
            axis: RightY,
            invert: true,
            dead_zone: 0.2,
        ),
    },
    actions: {

    },
)

