[package]
name = "amethyst_rendy"
version = "0.5.0"
authors = ["Amethyst Foundation <contact@amethyst.rs>"]
edition = "2018"
description = "High-level rendering engine with multiple backends"
keywords = ["game", "engine", "renderer", "3d", "amethyst"]
categories = ["rendering", "rendering::engine"]
license = "MIT/Apache-2.0"

[package.metadata.docs.rs]
features = ["shader-compiler", "test-support", "winit", "vulkan"]

[dependencies]
amethyst_assets = { path = "../amethyst_assets", version = "0.11.0" }
amethyst_core = { path = "../amethyst_core", version = "0.10.0", default-features = false }
amethyst_derive = { path = "../amethyst_derive", version = "0.8.0" }
amethyst_error = { path = "../amethyst_error", version = "0.5.0" }
amethyst_window = { path = "../amethyst_window", version = "0.5.0", optional = true }
amethyst_config = { path = "../amethyst_config", version = "0.14.0" }
derive-new = "0.5.6"
failure = "0.1"
genmesh = "0.6"
glsl-layout = "0.3"
lazy_static = "1.4"
log = "0.4"
palette = { version = "0.4", features = ["serde"] }
rendy = { version = "0.5.1", git = "https://github.com/amethyst/rendy.git", branch = "feature/update-to-latest-gfx-hal", default-features = false, features = ["base", "mesh-obj", "texture-image", "texture-palette", "serde-1", "init"] }
ron = "0.5"
serde = { version = "1", features = ["serde_derive"] }
fnv = "1"
derivative = "2.1.1"
smallvec = "1.2.0"
static_assertions = "1.1"

thread_profiler = { version = "0.3", optional = true }
approx = "0.3.2"

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-sys = { version = "0.3.36" }

[dev-dependencies]
rayon = "1.3.0"
more-asserts = "0.2.1"
criterion = "0.3.0"
winit = { version = "0.22.2" }
approx = "0.3"

[features]
default = ["gl", "window"]
gl = ["rendy/gl"]
metal = ["rendy/metal"]
vulkan = ["rendy/vulkan"]
empty = ["rendy/empty"]
profiler = [ "thread_profiler/thread_profiler", "rendy/profiler" ]
no-slow-safety-checks = ["rendy/no-slow-safety-checks"]
shader-compiler =  ["rendy/shader-compiler"]
test-support = []
experimental-spirv-reflection = ["rendy/spirv-reflection"]
window = ["rendy/init-winit", "amethyst_window"]
wasm = ["amethyst_window/wasm"]

[[bench]]
name = "camera"
harness = false
