[package]
name = "amethyst_rendy"
version = "0.1.0"
authors = []
edition = "2018"
description = "High-level rendering engine with multiple backends"
keywords = ["game", "engine", "renderer", "3d", "amethyst"]
categories = ["rendering", "rendering::engine"]

[dependencies]
amethyst_assets = { path = "../amethyst_assets", version = "0.6" }
amethyst_core = { path = "../amethyst_core", version = "0.5" }
amethyst_derive = { path = "../amethyst_derive", version = "0.3" }
amethyst_error = { path = "../amethyst_error", version = "0.1" }
amethyst_window = { path = "../amethyst_window", version = "0.1" }
failure = "0.1"
genmesh = "0.6"
glsl-layout = "0.3"
hibitset = "0.5.4"
lazy_static = "1.3"
log = "0.4"
palette = { version = "0.4", features = ["serde"] }
rendy = { git = "https://github.com/amethyst/rendy.git", rev = "e9110f4", default-features = false, features = ["base", "wsi-winit", "empty", "mesh-obj", "texture-image", "texture-palette", "serde-1"] }
ron = "0.4"
serde = { version = "1", features = ["serde_derive"] }
shred = { version = "0.7"  }
shred-derive = { version = "0.5" }
fnv = "1"
derivative = "1.0.2"
smallvec = "0.6.9"

thread_profiler = { version = "0.3", optional = true }

[dev-dependencies]
rayon = "1.0.2"
approx = "0.3.2"
more-asserts = "0.2.1"

[features]
dx12 = ["rendy/dx12"]
metal = ["rendy/metal"]
vulkan = ["rendy/vulkan"]
profiler = [ "thread_profiler/thread_profiler", "rendy/profiler" ]
nightly = [ "amethyst_core/nightly", "shred/nightly" ]
no-slow-safety-checks = ["rendy/no-slow-safety-checks"]
shader-compiler =  ["rendy/shader-compiler"]