/*!
    @import /amethyst_window/src/config.rs#DisplayConfig
    DisplayConfig
*/

(
  title: "Windowing example",
  // Icon path is relative to the current working directory, so this only works if run from the root of amethyst
  icon: Some("examples/window/assets/logo.png"),
)
