#![enable(implicit_some)]
Prefab (
    entities: [
        (
            data: (
                light: (ambient_color: ((0.1, 0.1, 0.1, 1.0))),
            ),
        ),
        (
            data: (
                graphics: (
                    mesh: Asset(File ("mesh/cube.obj", ObjFormat, ())),
                    material: (
                        albedo: Data(Rgba((1.0, 0.0, 0.0, 1.0,), (channel: Srgb),)),
                    ),
                ),
                transform: (
                    translation: (-5.0, 0.0, -10.0),
                ),
            ),
        ),
        (
            data: (
                graphics: (
                    mesh: Asset(File ("mesh/cube.obj", ObjFormat, ())),
                    material: (
                        albedo: Data(Rgba((1.0, 0.0, 0.0, 1.0,), (channel: Srgb),)),
                    ),
                ),
                transform: (
                    translation: (0.0, 0.0, -5.0),
                ),
            ),
        ),
        (
            data: (
                transform: (),
                camera: Perspective((
                    aspect: 1.3,
                    fovy: 1.0471975512,
                    znear: 0.1,
                    zfar: 2000.0,
                )),
                control_tag: (arc_ball: (1, 10.),),
            ),
        ),
    ],
)
