#![enable(implicit_some)]

Prefab (
    entities: [
        (
            data: (
                light: (ambient_color: ((0.5, 0.5, 0.5, 0.5))),
            ),
        ),
        (
            data: (
                transform: Transform(
                    scale: (x: 0.2, y: 0.2, z: 0.2),
                ),
            ),
        ),
        (
            parent: 1,
            data: (
                gltf: File("mesh/Monster.gltf", GltfSceneFormat, (
                    generate_tex_coords: (0.1, 0.1),
                    load_animations: true,
                    flip_v_coord: true,
                )),
                tag: (),
            ),
        ),
        (
            data: (
                transform: Transform (
                     translation: (x: 5.0, y: 2.0, z: 5.0,),
                     //rotation: (s: 0.9098437, v: (x: -0.16043, y: 0.37686962, z: 0.06645229,),),
                ),
                camera: Perspective((
                    fovy: Rad (1.0471975512),
                    aspect: 1.33333333333333333333,
                    near: 0.1,
                    far: 2000.0,
                )),
            ),
        ),
        (
            data: (
                transform: Transform (
                     translation: (x: 6.0, y: 6.0, z: -6.0,),
                ),
                light: (
                    light: Point((
                        intensity: 6.0,
                        color: (0.8, 0.0, 0.0, 1.0),
                    )),
                ),
            ),
        ),
        (
            data: (
                transform: Transform (
                     translation: (x: 0.0, y: 4.0, z: 4.0,),
                ),
                light: (
                    light: Point((
                        intensity: 6.0,
                        color: (0.0, 0.3, 0.7, 1.0),
                    )),
                ),
            ),
        ),
    ],
)