#![enable(implicit_some)]
/*!
    @import /amethyst_assets/src/prefab/mod.rs#Prefab
    @import ../../prefab_basic/main.rs#Position
    Prefab<Position>
*/

Prefab(
    entities: [
        PrefabEntity(
            // parent: None // Optional
            data: Position(1.0, 2.0, 3.0),
        ),
    ],
)
