#![enable(implicit_some)]
Prefab(
    entities: [
        // Player
        PrefabEntity(
            data: CustomPrefabData(
                player: Named(name: "Zero"),
                position: Position(1.0, 2.0, 3.0),
            ),
        ),
        // Weapon
        PrefabEntity(
            parent: 0,
            data: CustomPrefabData(
                weapon: Sword,
                position: Position(4.0, 5.0, 6.0),
            ),
        ),
    ],
)
