#![enable(implicit_some)]
/*!
    @import /amethyst_assets/src/prefab/mod.rs#Prefab
    @import ../../gltf/main.rs#ScenePrefabData
    Prefab<ScenePrefabData>
*/

Prefab (
    entities: [
        (
            data: (
                light: (ambient_color: ((0.5, 0.5, 0.5, 0.5))),
            ),
        ),
        (
            data: (
                gltf: File("mesh/puffy.gltf", ()),
                tag: (),
            ),
        ),
        (
            parent: 1,
            data: (
                transform: (
                    translation: (0.0, 0.0, 0.0),
                    rotation: (0.0, 0.0, 1.0, 0.0),
                ),
                fly_tag: (),
            ),
        ),
        (
            parent: 2,
            data: (
                transform: (
                    translation: (0.0, 0.0, 10.0),
                    rotation: (0.0, 0.0, 1.0, 0.0),
                ),
                camera: Perspective(
                    aspect: 1.3,
                    fovy: 1.0471975512,
                    znear: 0.1,
                    zfar: 2000.0,
                ),
                auto_fov: (
                    base_fovx: 1.361356817,
                    base_aspect_ratio: (13, 10),
                ),

            ),
        ),
        (
            data: (
                transform: (
                    translation: (6.0, 6.0, -6.0),
                    rotation: (0.0, 1.0, 0.0, 0.0),
                ),
                light: (
                    light: Point((
                        intensity: 6.0,
                        color: (0.8, 0.0, 0.0),
                    )),
                ),
            ),
        ),
        (
            data: (
                transform: (
                    translation: (0.0, 4.0, 4.0),
                    rotation: (0.0, 1.0, 0.0, 0.0),
                ),
                light: (
                    light: Point((
                        intensity: 6.0,
                        color: (0.0, 0.3, 0.7),
                    )),
                ),
            ),
        ),
    ],
)
