#![enable(implicit_some)]

Prefab (
    entities: [
        (
            data: (
                light: (ambient_color: ((0.5, 0.5, 0.5, 0.5))),
            ),
        ),
        (
            data: (
                gltf: File("mesh/puffy.gltf", GltfSceneFormat, (
                    load_animations: true,
                    flip_v_coord: true,
                )),
                tag: (),
            ),
        ),
        (
            parent: 1,
            data: (
                transform: (),
                fly_tag: (),
            ),
        ),
        (
            parent: 2,
            data: (
                transform: (
                    translation: (x: 0., y: 0., z: 10.0),
                ),
                camera: Perspective((
                    fovy: Rad (1.0471975512),
                    aspect: 1.33333333333333333333,
                    near: 0.1,
                    far: 2000.0,
                )),
            ),
        ),
        (
            data: (
                transform: (
                    translation: (x: 6.0, y: 6.0, z: -6.0),
                    rotation: (s: 0.0, v: (x: 0.0, y: 1.0, z: 0.0),),
                ),
                light: (
                    light: Point((
                        intensity: 6.0,
                        color: (0.8, 0.0, 0.0, 1.0),
                    )),
                ),
            ),
        ),
        (
            data: (
                transform: (
                    translation: (x: 0.0, y: 4.0, z: 4.0),
                    rotation: (s: 0.0, v: (x: 0.0, y: 1.0, z: 0.0),),
                ),
                light: (
                    light: Point((
                        intensity: 6.0,
                        color: (0.0, 0.3, 0.7, 1.0),
                    )),
                ),
            ),
        ),
    ],
)
