#![enable(implicit_some)]

Prefab (
    entities: [
        (
            data: (
                gltf: File("mesh/puffy.gltf", GltfSceneFormat, (
                    load_animations: true,
                    flip_v_coord: false,
                )),
                tag: (),
            ),
        ),
    ],
)
