#![enable(implicit_some)]

Prefab (
    entities: [
        (
            data: (
                light: (ambient_color: ((0.5, 0.5, 0.5, 0.5))),
            ),
        ),
        (
            data: (
                gltf: File("mesh/puffy.gltf", GltfSceneFormat, (
                    load_animations: true,
                    flip_v_coord: true,
                )),
                tag: (),
            ),
        ),
        (
            parent: 1,
            data: (
                transform: (),
                fly_tag: (),
            ),
        ),
        (
            parent: 2,
            data: (
                transform: (
                    translation: (0., 0., 10.0),
                ),
                camera: Perspective((
                    aspect: 1.33333333333333333333,
                    fovy: 1.0471975512,
                    znear: 0.1,
                    zfar: 2000.0,
                )),
            ),
        ),
        (
            data: (
                transform: (
                    translation: (6.0, 6.0, -6.0),
                    rotation: (0.0, 0.0, 1.0, 0.0),
                ),
                light: (
                    light: Point((
                        intensity: 6.0,
                        color: (0.8, 0.0, 0.0, 1.0),
                    )),
                ),
            ),
        ),
        (
            data: (
                transform: (
                    translation: (0.0, 4.0, 4.0),
                    rotation: (0.0, 0.0, 1.0, 0.0),
                ),
                light: (
                    light: Point((
                        intensity: 6.0,
                        color: (0.0, 0.3, 0.7, 1.0),
                    )),
                ),
            ),
        ),
    ],
)
