#![enable(implicit_some)]
/*!
    @import /amethyst_assets/src/prefab/mod.rs#Prefab
    @import ../../spotlights/main.rs#MyPrefabData
    Prefab<MyPrefabData>
*/

Prefab (
    entities: [
        (
            data: (
                graphics: (
                    mesh: Shape((shape: Plane(None))),
                    material: (
                        albedo: Generate(Srgba(1.0, 1.0, 1.0, 1.0)),
                    ),
                ),
                transform: (
                    rotation: (0.0, 1.0, 0.0, 0.0),
                    scale: (4.0, 2.0, 1.0),
                ),
            ),
        ),
        (
            data: (
                light: (
                    ambient_color: ((0.01, 0.01, 0.01, 1.0)),
                ),
            ),
        ),
        (
            data: (
                light: (
                    light: Spot((
                        intensity: 3.0,
                        color: (1.5, 0.0, 0.0),
                        angle: 50.0,
                        range: 4.0,
                        smoothness: 0.0,
                        direction: [0.0, 0.0, 1.0],
                    )),
                ),
                transform: (
                    translation: (3.0, 0.0, -2.0),
                ),
            ),
        ),
        (
            data: (
                light: (
                    light: Spot((
                        intensity: 3.0,
                        color: (0.0, 1.0, 0.0),
                        angle: 30.0,
                        range: 4.0,
                        smoothness: 0.0,
                        direction: [0.0, 0.0, 1.0],
                    )),
                ),
                transform: (
                    translation: (1.25, 0.0, -2.0),
                ),
            ),
        ),
        (
            data: (
                light: (
                    light: Spot((
                        intensity: 3.0,
                        color: (0.0, 0.0, 1.0),
                        angle: 30.0,
                        range: 4.0,
                        smoothness: 0.0,
                        direction: [0.0, 0.0, 1.0],
                    )),
                ),
                transform: (
                    translation: (-1.25, 0.0, -2.0),
                ),
            ),
        ),
        (
            data: (
                light: (
                    light: Spot((
                        intensity: 2.0,
                        color: (1.0, 1.0, 0.0),
                        angle: 15.0,
                        range: 10.0,
                        smoothness: 0.8,
                        direction: [1.0, -0.4, 0.4],
                    )),
                ),
                transform: (
                    translation: (-5.0, 2, -1.5),
                ),
            ),
        ),
        (
            data: (
                transform: (
                    translation: (0.0, 0.0, -4.0),
                    rotation: (0.0, 1.0, 0.0, 0.0),
                ),
                camera: Perspective(
                    aspect: 1.3,
                    fovy: 1.0471975512,
                    znear: 0.1,
                    zfar: 2000.0,
                ),
            ),
        ),
    ],
)
