(
    texture_width: 320,
    texture_height: 320,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 20,
            height: 20,
        ),// [0]
        (
            x: 0,
            y: 20,
            width: 20,
            height: 20,
        ),// [1]
        (
            x: 0,
            y: 40,
            width: 20,
            height: 20,
        ),// [2]
        (
            x: 0,
            y: 60,
            width: 20,
            height: 20,
        ),// [3]
        (
            x: 0,
            y: 80,
            width: 20,
            height: 20,
        ),// [4]
        (
            x: 0,
            y: 100,
            width: 20,
            height: 20,
        ),// [5]
        (
            x: 0,
            y: 120,
            width: 20,
            height: 20,
        ),// [6]
        (
            x: 0,
            y: 140,
            width: 20,
            height: 20,
        ),// [7]
        (
            x: 0,
            y: 160,
            width: 20,
            height: 20,
        ),// [8]
        (
            x: 0,
            y: 180,
            width: 20,
            height: 20,
        ),// [9]
        (
            x: 0,
            y: 200,
            width: 20,
            height: 20,
        ),// [10]
        (
            x: 0,
            y: 220,
            width: 20,
            height: 20,
        ),// [11]
        (
            x: 0,
            y: 240,
            width: 20,
            height: 20,
        ),// [12]
        (
            x: 0,
            y: 260,
            width: 20,
            height: 20,
        ),// [13]
        (
            x: 0,
            y: 280,
            width: 20,
            height: 20,
        ),// [14]
        (
            x: 0,
            y: 300,
            width: 20,
            height: 20,
        ),// [15]
        (
            x: 20,
            y: 0,
            width: 20,
            height: 20,
        ),// [16]
        (
            x: 20,
            y: 20,
            width: 20,
            height: 20,
        ),// [17]
        (
            x: 20,
            y: 40,
            width: 20,
            height: 20,
        ),// [18]
        (
            x: 20,
            y: 60,
            width: 20,
            height: 20,
        ),// [19]
        (
            x: 20,
            y: 80,
            width: 20,
            height: 20,
        ),// [20]
        (
            x: 20,
            y: 100,
            width: 20,
            height: 20,
        ),// [21]
        (
            x: 20,
            y: 120,
            width: 20,
            height: 20,
        ),// [22]
        (
            x: 20,
            y: 140,
            width: 20,
            height: 20,
        ),// [23]
        (
            x: 20,
            y: 160,
            width: 20,
            height: 20,
        ),// [24]
        (
            x: 20,
            y: 180,
            width: 20,
            height: 20,
        ),// [25]
        (
            x: 20,
            y: 200,
            width: 20,
            height: 20,
        ),// [26]
        (
            x: 20,
            y: 220,
            width: 20,
            height: 20,
        ),// [27]
        (
            x: 20,
            y: 240,
            width: 20,
            height: 20,
        ),// [28]
        (
            x: 20,
            y: 260,
            width: 20,
            height: 20,
        ),// [29]
        (
            x: 20,
            y: 280,
            width: 20,
            height: 20,
        ),// [30]
        (
            x: 20,
            y: 300,
            width: 20,
            height: 20,
        ),// [31]
        (
            x: 40,
            y: 0,
            width: 20,
            height: 20,
        ),// [32]
        (
            x: 40,
            y: 20,
            width: 20,
            height: 20,
        ),// [33]
        (
            x: 40,
            y: 40,
            width: 20,
            height: 20,
        ),// [34]
        (
            x: 40,
            y: 60,
            width: 20,
            height: 20,
        ),// [35]
        (
            x: 40,
            y: 80,
            width: 20,
            height: 20,
        ),// [36]
        (
            x: 40,
            y: 100,
            width: 20,
            height: 20,
        ),// [37]
        (
            x: 40,
            y: 120,
            width: 20,
            height: 20,
        ),// [38]
        (
            x: 40,
            y: 140,
            width: 20,
            height: 20,
        ),// [39]
        (
            x: 40,
            y: 160,
            width: 20,
            height: 20,
        ),// [40]
        (
            x: 40,
            y: 180,
            width: 20,
            height: 20,
        ),// [41]
        (
            x: 40,
            y: 200,
            width: 20,
            height: 20,
        ),// [42]
        (
            x: 40,
            y: 220,
            width: 20,
            height: 20,
        ),// [43]
        (
            x: 40,
            y: 240,
            width: 20,
            height: 20,
        ),// [44]
        (
            x: 40,
            y: 260,
            width: 20,
            height: 20,
        ),// [45]
        (
            x: 40,
            y: 280,
            width: 20,
            height: 20,
        ),// [46]
        (
            x: 40,
            y: 300,
            width: 20,
            height: 20,
        ),// [47]
        (
            x: 60,
            y: 0,
            width: 20,
            height: 20,
        ),// [48]
        (
            x: 60,
            y: 20,
            width: 20,
            height: 20,
        ),// [49]
        (
            x: 60,
            y: 40,
            width: 20,
            height: 20,
        ),// [50]
        (
            x: 60,
            y: 60,
            width: 20,
            height: 20,
        ),// [51]
        (
            x: 60,
            y: 80,
            width: 20,
            height: 20,
        ),// [52]
        (
            x: 60,
            y: 100,
            width: 20,
            height: 20,
        ),// [53]
        (
            x: 60,
            y: 120,
            width: 20,
            height: 20,
        ),// [54]
        (
            x: 60,
            y: 140,
            width: 20,
            height: 20,
        ),// [55]
        (
            x: 60,
            y: 160,
            width: 20,
            height: 20,
        ),// [56]
        (
            x: 60,
            y: 180,
            width: 20,
            height: 20,
        ),// [57]
        (
            x: 60,
            y: 200,
            width: 20,
            height: 20,
        ),// [58]
        (
            x: 60,
            y: 220,
            width: 20,
            height: 20,
        ),// [59]
        (
            x: 60,
            y: 240,
            width: 20,
            height: 20,
        ),// [60]
        (
            x: 60,
            y: 260,
            width: 20,
            height: 20,
        ),// [61]
        (
            x: 60,
            y: 280,
            width: 20,
            height: 20,
        ),// [62]
        (
            x: 60,
            y: 300,
            width: 20,
            height: 20,
        ),// [63]
        (
            x: 80,
            y: 0,
            width: 20,
            height: 20,
        ),// [64]
        (
            x: 80,
            y: 20,
            width: 20,
            height: 20,
        ),// [65]
        (
            x: 80,
            y: 40,
            width: 20,
            height: 20,
        ),// [66]
        (
            x: 80,
            y: 60,
            width: 20,
            height: 20,
        ),// [67]
        (
            x: 80,
            y: 80,
            width: 20,
            height: 20,
        ),// [68]
        (
            x: 80,
            y: 100,
            width: 20,
            height: 20,
        ),// [69]
        (
            x: 80,
            y: 120,
            width: 20,
            height: 20,
        ),// [70]
        (
            x: 80,
            y: 140,
            width: 20,
            height: 20,
        ),// [71]
        (
            x: 80,
            y: 160,
            width: 20,
            height: 20,
        ),// [72]
        (
            x: 80,
            y: 180,
            width: 20,
            height: 20,
        ),// [73]
        (
            x: 80,
            y: 200,
            width: 20,
            height: 20,
        ),// [74]
        (
            x: 80,
            y: 220,
            width: 20,
            height: 20,
        ),// [75]
        (
            x: 80,
            y: 240,
            width: 20,
            height: 20,
        ),// [76]
        (
            x: 80,
            y: 260,
            width: 20,
            height: 20,
        ),// [77]
        (
            x: 80,
            y: 280,
            width: 20,
            height: 20,
        ),// [78]
        (
            x: 80,
            y: 300,
            width: 20,
            height: 20,
        ),// [79]
        (
            x: 100,
            y: 0,
            width: 20,
            height: 20,
        ),// [80]
        (
            x: 100,
            y: 20,
            width: 20,
            height: 20,
        ),// [81]
        (
            x: 100,
            y: 40,
            width: 20,
            height: 20,
        ),// [82]
        (
            x: 100,
            y: 60,
            width: 20,
            height: 20,
        ),// [83]
        (
            x: 100,
            y: 80,
            width: 20,
            height: 20,
        ),// [84]
        (
            x: 100,
            y: 100,
            width: 20,
            height: 20,
        ),// [85]
        (
            x: 100,
            y: 120,
            width: 20,
            height: 20,
        ),// [86]
        (
            x: 100,
            y: 140,
            width: 20,
            height: 20,
        ),// [87]
        (
            x: 100,
            y: 160,
            width: 20,
            height: 20,
        ),// [88]
        (
            x: 100,
            y: 180,
            width: 20,
            height: 20,
        ),// [89]
        (
            x: 100,
            y: 200,
            width: 20,
            height: 20,
        ),// [90]
        (
            x: 100,
            y: 220,
            width: 20,
            height: 20,
        ),// [91]
        (
            x: 100,
            y: 240,
            width: 20,
            height: 20,
        ),// [92]
        (
            x: 100,
            y: 260,
            width: 20,
            height: 20,
        ),// [93]
        (
            x: 100,
            y: 280,
            width: 20,
            height: 20,
        ),// [94]
        (
            x: 100,
            y: 300,
            width: 20,
            height: 20,
        ),// [95]
        (
            x: 120,
            y: 0,
            width: 20,
            height: 20,
        ),// [96]
        (
            x: 120,
            y: 20,
            width: 20,
            height: 20,
        ),// [97]
        (
            x: 120,
            y: 40,
            width: 20,
            height: 20,
        ),// [98]
        (
            x: 120,
            y: 60,
            width: 20,
            height: 20,
        ),// [99]
        (
            x: 120,
            y: 80,
            width: 20,
            height: 20,
        ),// [100]
        (
            x: 120,
            y: 100,
            width: 20,
            height: 20,
        ),// [101]
        (
            x: 120,
            y: 120,
            width: 20,
            height: 20,
        ),// [102]
        (
            x: 120,
            y: 140,
            width: 20,
            height: 20,
        ),// [103]
        (
            x: 120,
            y: 160,
            width: 20,
            height: 20,
        ),// [104]
        (
            x: 120,
            y: 180,
            width: 20,
            height: 20,
        ),// [105]
        (
            x: 120,
            y: 200,
            width: 20,
            height: 20,
        ),// [106]
        (
            x: 120,
            y: 220,
            width: 20,
            height: 20,
        ),// [107]
        (
            x: 120,
            y: 240,
            width: 20,
            height: 20,
        ),// [108]
        (
            x: 120,
            y: 260,
            width: 20,
            height: 20,
        ),// [109]
        (
            x: 120,
            y: 280,
            width: 20,
            height: 20,
        ),// [110]
        (
            x: 120,
            y: 300,
            width: 20,
            height: 20,
        ),// [111]
        (
            x: 140,
            y: 0,
            width: 20,
            height: 20,
        ),// [112]
        (
            x: 140,
            y: 20,
            width: 20,
            height: 20,
        ),// [113]
        (
            x: 140,
            y: 40,
            width: 20,
            height: 20,
        ),// [114]
        (
            x: 140,
            y: 60,
            width: 20,
            height: 20,
        ),// [115]
        (
            x: 140,
            y: 80,
            width: 20,
            height: 20,
        ),// [116]
        (
            x: 140,
            y: 100,
            width: 20,
            height: 20,
        ),// [117]
        (
            x: 140,
            y: 120,
            width: 20,
            height: 20,
        ),// [118]
        (
            x: 140,
            y: 140,
            width: 20,
            height: 20,
        ),// [119]
        (
            x: 140,
            y: 160,
            width: 20,
            height: 20,
        ),// [120]
        (
            x: 140,
            y: 180,
            width: 20,
            height: 20,
        ),// [121]
        (
            x: 140,
            y: 200,
            width: 20,
            height: 20,
        ),// [122]
        (
            x: 140,
            y: 220,
            width: 20,
            height: 20,
        ),// [123]
        (
            x: 140,
            y: 240,
            width: 20,
            height: 20,
        ),// [124]
        (
            x: 140,
            y: 260,
            width: 20,
            height: 20,
        ),// [125]
        (
            x: 140,
            y: 280,
            width: 20,
            height: 20,
        ),// [126]
        (
            x: 140,
            y: 300,
            width: 20,
            height: 20,
        ),// [127]
        (
            x: 160,
            y: 0,
            width: 20,
            height: 20,
        ),// [128]
        (
            x: 160,
            y: 20,
            width: 20,
            height: 20,
        ),// [129]
        (
            x: 160,
            y: 40,
            width: 20,
            height: 20,
        ),// [130]
        (
            x: 160,
            y: 60,
            width: 20,
            height: 20,
        ),// [131]
        (
            x: 160,
            y: 80,
            width: 20,
            height: 20,
        ),// [132]
        (
            x: 160,
            y: 100,
            width: 20,
            height: 20,
        ),// [133]
        (
            x: 160,
            y: 120,
            width: 20,
            height: 20,
        ),// [134]
        (
            x: 160,
            y: 140,
            width: 20,
            height: 20,
        ),// [135]
        (
            x: 160,
            y: 160,
            width: 20,
            height: 20,
        ),// [136]
        (
            x: 160,
            y: 180,
            width: 20,
            height: 20,
        ),// [137]
        (
            x: 160,
            y: 200,
            width: 20,
            height: 20,
        ),// [138]
        (
            x: 160,
            y: 220,
            width: 20,
            height: 20,
        ),// [139]
        (
            x: 160,
            y: 240,
            width: 20,
            height: 20,
        ),// [140]
        (
            x: 160,
            y: 260,
            width: 20,
            height: 20,
        ),// [141]
        (
            x: 160,
            y: 280,
            width: 20,
            height: 20,
        ),// [142]
        (
            x: 160,
            y: 300,
            width: 20,
            height: 20,
        ),// [143]
        (
            x: 180,
            y: 0,
            width: 20,
            height: 20,
        ),// [144]
        (
            x: 180,
            y: 20,
            width: 20,
            height: 20,
        ),// [145]
        (
            x: 180,
            y: 40,
            width: 20,
            height: 20,
        ),// [146]
        (
            x: 180,
            y: 60,
            width: 20,
            height: 20,
        ),// [147]
        (
            x: 180,
            y: 80,
            width: 20,
            height: 20,
        ),// [148]
        (
            x: 180,
            y: 100,
            width: 20,
            height: 20,
        ),// [149]
        (
            x: 180,
            y: 120,
            width: 20,
            height: 20,
        ),// [150]
        (
            x: 180,
            y: 140,
            width: 20,
            height: 20,
        ),// [151]
        (
            x: 180,
            y: 160,
            width: 20,
            height: 20,
        ),// [152]
        (
            x: 180,
            y: 180,
            width: 20,
            height: 20,
        ),// [153]
        (
            x: 180,
            y: 200,
            width: 20,
            height: 20,
        ),// [154]
        (
            x: 180,
            y: 220,
            width: 20,
            height: 20,
        ),// [155]
        (
            x: 180,
            y: 240,
            width: 20,
            height: 20,
        ),// [156]
        (
            x: 180,
            y: 260,
            width: 20,
            height: 20,
        ),// [157]
        (
            x: 180,
            y: 280,
            width: 20,
            height: 20,
        ),// [158]
        (
            x: 180,
            y: 300,
            width: 20,
            height: 20,
        ),// [159]
        (
            x: 200,
            y: 0,
            width: 20,
            height: 20,
        ),// [160]
        (
            x: 200,
            y: 20,
            width: 20,
            height: 20,
        ),// [161]
        (
            x: 200,
            y: 40,
            width: 20,
            height: 20,
        ),// [162]
        (
            x: 200,
            y: 60,
            width: 20,
            height: 20,
        ),// [163]
        (
            x: 200,
            y: 80,
            width: 20,
            height: 20,
        ),// [164]
        (
            x: 200,
            y: 100,
            width: 20,
            height: 20,
        ),// [165]
        (
            x: 200,
            y: 120,
            width: 20,
            height: 20,
        ),// [166]
        (
            x: 200,
            y: 140,
            width: 20,
            height: 20,
        ),// [167]
        (
            x: 200,
            y: 160,
            width: 20,
            height: 20,
        ),// [168]
        (
            x: 200,
            y: 180,
            width: 20,
            height: 20,
        ),// [169]
        (
            x: 200,
            y: 200,
            width: 20,
            height: 20,
        ),// [170]
        (
            x: 200,
            y: 220,
            width: 20,
            height: 20,
        ),// [171]
        (
            x: 200,
            y: 240,
            width: 20,
            height: 20,
        ),// [172]
        (
            x: 200,
            y: 260,
            width: 20,
            height: 20,
        ),// [173]
        (
            x: 200,
            y: 280,
            width: 20,
            height: 20,
        ),// [174]
        (
            x: 200,
            y: 300,
            width: 20,
            height: 20,
        ),// [175]
        (
            x: 220,
            y: 0,
            width: 20,
            height: 20,
        ),// [176]
        (
            x: 220,
            y: 20,
            width: 20,
            height: 20,
        ),// [177]
        (
            x: 220,
            y: 40,
            width: 20,
            height: 20,
        ),// [178]
        (
            x: 220,
            y: 60,
            width: 20,
            height: 20,
        ),// [179]
        (
            x: 220,
            y: 80,
            width: 20,
            height: 20,
        ),// [180]
        (
            x: 220,
            y: 100,
            width: 20,
            height: 20,
        ),// [181]
        (
            x: 220,
            y: 120,
            width: 20,
            height: 20,
        ),// [182]
        (
            x: 220,
            y: 140,
            width: 20,
            height: 20,
        ),// [183]
        (
            x: 220,
            y: 160,
            width: 20,
            height: 20,
        ),// [184]
        (
            x: 220,
            y: 180,
            width: 20,
            height: 20,
        ),// [185]
        (
            x: 220,
            y: 200,
            width: 20,
            height: 20,
        ),// [186]
        (
            x: 220,
            y: 220,
            width: 20,
            height: 20,
        ),// [187]
        (
            x: 220,
            y: 240,
            width: 20,
            height: 20,
        ),// [188]
        (
            x: 220,
            y: 260,
            width: 20,
            height: 20,
        ),// [189]
        (
            x: 220,
            y: 280,
            width: 20,
            height: 20,
        ),// [190]
        (
            x: 220,
            y: 300,
            width: 20,
            height: 20,
        ),// [191]
        (
            x: 240,
            y: 0,
            width: 20,
            height: 20,
        ),// [192]
        (
            x: 240,
            y: 20,
            width: 20,
            height: 20,
        ),// [193]
        (
            x: 240,
            y: 40,
            width: 20,
            height: 20,
        ),// [194]
        (
            x: 240,
            y: 60,
            width: 20,
            height: 20,
        ),// [195]
        (
            x: 240,
            y: 80,
            width: 20,
            height: 20,
        ),// [196]
        (
            x: 240,
            y: 100,
            width: 20,
            height: 20,
        ),// [197]
        (
            x: 240,
            y: 120,
            width: 20,
            height: 20,
        ),// [198]
        (
            x: 240,
            y: 140,
            width: 20,
            height: 20,
        ),// [199]
        (
            x: 240,
            y: 160,
            width: 20,
            height: 20,
        ),// [200]
        (
            x: 240,
            y: 180,
            width: 20,
            height: 20,
        ),// [201]
        (
            x: 240,
            y: 200,
            width: 20,
            height: 20,
        ),// [202]
        (
            x: 240,
            y: 220,
            width: 20,
            height: 20,
        ),// [203]
        (
            x: 240,
            y: 240,
            width: 20,
            height: 20,
        ),// [204]
        (
            x: 240,
            y: 260,
            width: 20,
            height: 20,
        ),// [205]
        (
            x: 240,
            y: 280,
            width: 20,
            height: 20,
        ),// [206]
        (
            x: 240,
            y: 300,
            width: 20,
            height: 20,
        ),// [207]
        (
            x: 260,
            y: 0,
            width: 20,
            height: 20,
        ),// [208]
        (
            x: 260,
            y: 20,
            width: 20,
            height: 20,
        ),// [209]
        (
            x: 260,
            y: 40,
            width: 20,
            height: 20,
        ),// [210]
        (
            x: 260,
            y: 60,
            width: 20,
            height: 20,
        ),// [211]
        (
            x: 260,
            y: 80,
            width: 20,
            height: 20,
        ),// [212]
        (
            x: 260,
            y: 100,
            width: 20,
            height: 20,
        ),// [213]
        (
            x: 260,
            y: 120,
            width: 20,
            height: 20,
        ),// [214]
        (
            x: 260,
            y: 140,
            width: 20,
            height: 20,
        ),// [215]
        (
            x: 260,
            y: 160,
            width: 20,
            height: 20,
        ),// [216]
        (
            x: 260,
            y: 180,
            width: 20,
            height: 20,
        ),// [217]
        (
            x: 260,
            y: 200,
            width: 20,
            height: 20,
        ),// [218]
        (
            x: 260,
            y: 220,
            width: 20,
            height: 20,
        ),// [219]
        (
            x: 260,
            y: 240,
            width: 20,
            height: 20,
        ),// [220]
        (
            x: 260,
            y: 260,
            width: 20,
            height: 20,
        ),// [221]
        (
            x: 260,
            y: 280,
            width: 20,
            height: 20,
        ),// [222]
        (
            x: 260,
            y: 300,
            width: 20,
            height: 20,
        ),// [223]
        (
            x: 280,
            y: 0,
            width: 20,
            height: 20,
        ),// [224]
        (
            x: 280,
            y: 20,
            width: 20,
            height: 20,
        ),// [225]
        (
            x: 280,
            y: 40,
            width: 20,
            height: 20,
        ),// [226]
        (
            x: 280,
            y: 60,
            width: 20,
            height: 20,
        ),// [227]
        (
            x: 280,
            y: 80,
            width: 20,
            height: 20,
        ),// [228]
        (
            x: 280,
            y: 100,
            width: 20,
            height: 20,
        ),// [229]
        (
            x: 280,
            y: 120,
            width: 20,
            height: 20,
        ),// [230]
        (
            x: 280,
            y: 140,
            width: 20,
            height: 20,
        ),// [231]
        (
            x: 280,
            y: 160,
            width: 20,
            height: 20,
        ),// [232]
        (
            x: 280,
            y: 180,
            width: 20,
            height: 20,
        ),// [233]
        (
            x: 280,
            y: 200,
            width: 20,
            height: 20,
        ),// [234]
        (
            x: 280,
            y: 220,
            width: 20,
            height: 20,
        ),// [235]
        (
            x: 280,
            y: 240,
            width: 20,
            height: 20,
        ),// [236]
        (
            x: 280,
            y: 260,
            width: 20,
            height: 20,
        ),// [237]
        (
            x: 280,
            y: 280,
            width: 20,
            height: 20,
        ),// [238]
        (
            x: 280,
            y: 300,
            width: 20,
            height: 20,
        ),// [239]
        (
            x: 300,
            y: 0,
            width: 20,
            height: 20,
        ),// [240]
        (
            x: 300,
            y: 20,
            width: 20,
            height: 20,
        ),// [241]
        (
            x: 300,
            y: 40,
            width: 20,
            height: 20,
        ),// [242]
        (
            x: 300,
            y: 60,
            width: 20,
            height: 20,
        ),// [243]
        (
            x: 300,
            y: 80,
            width: 20,
            height: 20,
        ),// [244]
        (
            x: 300,
            y: 100,
            width: 20,
            height: 20,
        ),// [245]
        (
            x: 300,
            y: 120,
            width: 20,
            height: 20,
        ),// [246]
        (
            x: 300,
            y: 140,
            width: 20,
            height: 20,
        ),// [247]
        (
            x: 300,
            y: 160,
            width: 20,
            height: 20,
        ),// [248]
        (
            x: 300,
            y: 180,
            width: 20,
            height: 20,
        ),// [249]
        (
            x: 300,
            y: 200,
            width: 20,
            height: 20,
        ),// [250]
        (
            x: 300,
            y: 220,
            width: 20,
            height: 20,
        ),// [251]
        (
            x: 300,
            y: 240,
            width: 20,
            height: 20,
        ),// [252]
        (
            x: 300,
            y: 260,
            width: 20,
            height: 20,
        ),// [253]
        (
            x: 300,
            y: 280,
            width: 20,
            height: 20,
        ),// [254]
        (
            x: 300,
            y: 300,
            width: 20,
            height: 20,
        ),// [255]
    ],
)