[
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25878906,
            right: 0.3876953,
            bottom: 0.44335938,
            top: 0.48388672,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25878906,
            right: 0.3876953,
            bottom: 0.24267578,
            top: 0.29101563,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25878906,
            right: 0.3876953,
            bottom: 0.29101563,
            top: 0.33154297,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25878906,
            right: 0.3876953,
            bottom: 0.1381836,
            top: 0.17871094,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.51660156,
            right: 0.6455078,
            bottom: 0.3701172,
            top: 0.41845703,
        ),
    ),
    (
        width: 132,
        height: 131,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25878906,
            right: 0.3876953,
            bottom: 0.17871094,
            top: 0.24267578,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25878906,
            right: 0.3876953,
            bottom: 0.0009765625,
            top: 0.049316406,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25878906,
            right: 0.3876953,
            bottom: 0.049316406,
            top: 0.08984375,
        ),
    ),
    (
        width: 132,
        height: 131,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25976563,
            right: 0.38867188,
            bottom: 0.48632813,
            top: 0.55029297,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.8144531,
            top: 0.86279297,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.3876953,
            right: 0.51660156,
            bottom: 0.38183594,
            top: 0.42236328,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6464844,
            right: 0.7753906,
            bottom: 0.61328125,
            top: 0.6616211,
        ),
    ),
    (
        width: 132,
        height: 131,
        offsets: (0, 0),
        tex_coords: (
            left: 0.3876953,
            right: 0.51660156,
            bottom: 0.42236328,
            top: 0.48632813,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.77441406,
            right: 0.9033203,
            bottom: 0.3154297,
            top: 0.36376953,
        ),
    ),
    (
        width: 133,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25976563,
            bottom: 0.7739258,
            top: 0.8144531,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.77441406,
            right: 0.9033203,
            bottom: 0.36376953,
            top: 0.41210938,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.77441406,
            right: 0.9033203,
            bottom: 0.41210938,
            top: 0.45263672,
        ),
    ),
    (
        width: 132,
        height: 131,
        offsets: (0, 0),
        tex_coords: (
            left: 0.77441406,
            right: 0.9033203,
            bottom: 0.45263672,
            top: 0.51660156,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.77441406,
            right: 0.9033203,
            bottom: 0.51660156,
            top: 0.5649414,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.95166016,
            top: 1,
        ),
    ),
    (
        width: 133,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.9111328,
            top: 0.95166016,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6464844,
            right: 0.7753906,
            bottom: 0.6616211,
            top: 0.70996094,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6464844,
            right: 0.7753906,
            bottom: 0.70996094,
            top: 0.7583008,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6464844,
            right: 0.7753906,
            bottom: 0.7583008,
            top: 0.8066406,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6464844,
            right: 0.7753906,
            bottom: 0.8066406,
            top: 0.85498047,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6464844,
            right: 0.7753906,
            bottom: 0.85498047,
            top: 0.9033203,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.7661133,
            top: 0.8144531,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.00048828125,
            top: 0.048828125,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6455078,
            right: 0.77441406,
            bottom: 0.0014648438,
            top: 0.049804688,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6455078,
            right: 0.77441406,
            bottom: 0.049804688,
            top: 0.09814453,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6455078,
            right: 0.77441406,
            bottom: 0.09814453,
            top: 0.14648438,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6455078,
            right: 0.77441406,
            bottom: 0.14648438,
            top: 0.19482422,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6455078,
            right: 0.77441406,
            bottom: 0.19482422,
            top: 0.24316406,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.048828125,
            top: 0.09716797,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.19384766,
            top: 0.2421875,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6455078,
            right: 0.77441406,
            bottom: 0.33984375,
            top: 0.3803711,
        ),
    ),
    (
        width: 132,
        height: 131,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6455078,
            right: 0.77441406,
            bottom: 0.3803711,
            top: 0.44433594,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6455078,
            right: 0.77441406,
            bottom: 0.44433594,
            top: 0.48486328,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6455078,
            right: 0.77441406,
            bottom: 0.48486328,
            top: 0.5332031,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.5175781,
            right: 0.6464844,
            bottom: 0.5332031,
            top: 0.58154297,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.5175781,
            right: 0.6464844,
            bottom: 0.58154297,
            top: 0.6298828,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25976563,
            bottom: 0.95166016,
            top: 1,
        ),
    ),
    (
        width: 133,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25976563,
            bottom: 0.86279297,
            top: 0.9033203,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.5175781,
            right: 0.6464844,
            bottom: 0.7265625,
            top: 0.77490234,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.5175781,
            right: 0.6464844,
            bottom: 0.77490234,
            top: 0.8154297,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.5175781,
            right: 0.6464844,
            bottom: 0.8154297,
            top: 0.85595703,
        ),
    ),
    (
        width: 132,
        height: 97,
        offsets: (0, 0),
        tex_coords: (
            left: 0.5175781,
            right: 0.6464844,
            bottom: 0.85595703,
            top: 0.9033203,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.5175781,
            right: 0.6464844,
            bottom: 0.9033203,
            top: 0.95166016,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.71777344,
            top: 0.7661133,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.6694336,
            top: 0.71777344,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.51660156,
            right: 0.6455078,
            bottom: 0.056152344,
            top: 0.10449219,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.51660156,
            right: 0.6455078,
            bottom: 0.10449219,
            top: 0.14501953,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.51660156,
            right: 0.6455078,
            bottom: 0.14501953,
            top: 0.18554688,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.51660156,
            right: 0.6455078,
            bottom: 0.18554688,
            top: 0.22607422,
        ),
    ),
    (
        width: 132,
        height: 97,
        offsets: (0, 0),
        tex_coords: (
            left: 0.51660156,
            right: 0.6455078,
            bottom: 0.22607422,
            top: 0.2734375,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.51660156,
            right: 0.6455078,
            bottom: 0.2734375,
            top: 0.32177734,
        ),
    ),
    (
        width: 133,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.62890625,
            top: 0.6694336,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.5805664,
            top: 0.62890625,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.51660156,
            right: 0.6455078,
            bottom: 0.41845703,
            top: 0.45898438,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.51660156,
            right: 0.6455078,
            bottom: 0.45898438,
            top: 0.5073242,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.38867188,
            right: 0.5175781,
            bottom: 0.5073242,
            top: 0.54785156,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.38867188,
            right: 0.5175781,
            bottom: 0.54785156,
            top: 0.5883789,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.38867188,
            right: 0.5175781,
            bottom: 0.5883789,
            top: 0.63671875,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.48388672,
            top: 0.53222656,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.43554688,
            top: 0.48388672,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.38867188,
            right: 0.5175781,
            bottom: 0.73339844,
            top: 0.7817383,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.38867188,
            right: 0.5175781,
            bottom: 0.7817383,
            top: 0.8222656,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.38867188,
            right: 0.5175781,
            bottom: 0.8222656,
            top: 0.87060547,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.38867188,
            right: 0.5175781,
            bottom: 0.87060547,
            top: 0.9189453,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.38867188,
            right: 0.5175781,
            bottom: 0.9189453,
            top: 0.95947266,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.38867188,
            right: 0.5175781,
            bottom: 0.95947266,
            top: 1,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.38720703,
            top: 0.43554688,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.3388672,
            top: 0.38720703,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.3876953,
            right: 0.51660156,
            bottom: 0.107421875,
            top: 0.14794922,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.3876953,
            right: 0.51660156,
            bottom: 0.14794922,
            top: 0.19628906,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.3876953,
            right: 0.51660156,
            bottom: 0.19628906,
            top: 0.2446289,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.3876953,
            right: 0.51660156,
            bottom: 0.2446289,
            top: 0.28515625,
        ),
    ),
    (
        width: 132,
        height: 83,
        offsets: (0, 0),
        tex_coords: (
            left: 0.77441406,
            right: 0.9033203,
            bottom: 0.27490234,
            top: 0.3154297,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25976563,
            bottom: 0.5805664,
            top: 0.62890625,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.86279297,
            top: 0.9111328,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6464844,
            right: 0.7753906,
            bottom: 0.5649414,
            top: 0.61328125,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6464844,
            right: 0.7753906,
            bottom: 0.95166016,
            top: 1,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6464844,
            right: 0.7753906,
            bottom: 0.9033203,
            top: 0.95166016,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25976563,
            right: 0.38867188,
            bottom: 0.5986328,
            top: 0.64697266,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6455078,
            right: 0.77441406,
            bottom: 0.24316406,
            top: 0.2915039,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.6455078,
            right: 0.77441406,
            bottom: 0.2915039,
            top: 0.33984375,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.14550781,
            top: 0.19384766,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25976563,
            bottom: 0.8144531,
            top: 0.86279297,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.5175781,
            right: 0.6464844,
            bottom: 0.6298828,
            top: 0.67822266,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.5175781,
            right: 0.6464844,
            bottom: 0.67822266,
            top: 0.7265625,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25976563,
            right: 0.38867188,
            bottom: 0.95166016,
            top: 1,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.51660156,
            right: 0.6455078,
            bottom: 0.0078125,
            top: 0.056152344,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.5175781,
            right: 0.6464844,
            bottom: 0.95166016,
            top: 1,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25976563,
            bottom: 0.48388672,
            top: 0.53222656,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.53222656,
            top: 0.5805664,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.51660156,
            right: 0.6455078,
            bottom: 0.32177734,
            top: 0.3701172,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.38867188,
            right: 0.5175781,
            bottom: 0.6850586,
            top: 0.73339844,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.38867188,
            right: 0.5175781,
            bottom: 0.63671875,
            top: 0.6850586,
        ),
    ),
    (
        width: 132,
        height: 131,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25878906,
            right: 0.3876953,
            bottom: 0.33154297,
            top: 0.3955078,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.3876953,
            right: 0.51660156,
            bottom: 0.05908203,
            top: 0.107421875,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.3876953,
            right: 0.51660156,
            bottom: 0.0107421875,
            top: 0.05908203,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.2421875,
            top: 0.29052734,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.29052734,
            top: 0.3388672,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25976563,
            right: 0.38867188,
            bottom: 0.55029297,
            top: 0.5986328,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25976563,
            right: 0.38867188,
            bottom: 0.64697266,
            top: 0.6953125,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25976563,
            right: 0.38867188,
            bottom: 0.6953125,
            top: 0.74365234,
        ),
    ),
    (
        width: 132,
        height: 131,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25878906,
            bottom: 0.03564453,
            top: 0.099609375,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25976563,
            bottom: 0.53222656,
            top: 0.5805664,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25976563,
            bottom: 0.62890625,
            top: 0.6772461,
        ),
    ),
    (
        width: 132,
        height: 131,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25878906,
            bottom: 0.41992188,
            top: 0.48388672,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25878906,
            bottom: 0.37158203,
            top: 0.41992188,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25878906,
            bottom: 0.21191406,
            top: 0.2602539,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25878906,
            bottom: 0.3232422,
            top: 0.37158203,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25976563,
            bottom: 0.6772461,
            top: 0.72558594,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25976563,
            bottom: 0.72558594,
            top: 0.7739258,
        ),
    ),
    (
        width: 132,
        height: 131,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25878906,
            bottom: 0.099609375,
            top: 0.16357422,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25976563,
            right: 0.38867188,
            bottom: 0.9033203,
            top: 0.95166016,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25878906,
            bottom: 0.16357422,
            top: 0.21191406,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25976563,
            bottom: 0.9033203,
            top: 0.95166016,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25878906,
            right: 0.3876953,
            bottom: 0.08984375,
            top: 0.1381836,
        ),
    ),
    (
        width: 132,
        height: 129,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25976563,
            right: 0.38867188,
            bottom: 0.7919922,
            top: 0.85498047,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25976563,
            right: 0.38867188,
            bottom: 0.74365234,
            top: 0.7919922,
        ),
    ),
    (
        width: 133,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0,
            right: 0.12988281,
            bottom: 0.09716797,
            top: 0.14550781,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25976563,
            right: 0.38867188,
            bottom: 0.85498047,
            top: 0.9033203,
        ),
    ),
    (
        width: 132,
        height: 129,
        offsets: (0, 0),
        tex_coords: (
            left: 0.12988281,
            right: 0.25878906,
            bottom: 0.2602539,
            top: 0.3232422,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.3876953,
            right: 0.51660156,
            bottom: 0.3334961,
            top: 0.38183594,
        ),
    ),
    (
        width: 132,
        height: 99,
        offsets: (0, 0),
        tex_coords: (
            left: 0.3876953,
            right: 0.51660156,
            bottom: 0.28515625,
            top: 0.3334961,
        ),
    ),
    (
        width: 132,
        height: 98,
        offsets: (0, 0),
        tex_coords: (
            left: 0.25878906,
            right: 0.3876953,
            bottom: 0.3955078,
            top: 0.44335938,
        ),
    ),
]